 <!Doctype>
 <html>
  <head>

    <style>

    html, body, header, nav,div, h1,figure,img, ul, li, h2, a,form{
      margin: 0;
      border: 0;
      padding: 0;
      font: inherit;
    vertical-align: baseline;
    }



    .group:after{
      content: "";
      display: block;
      clear: both;
    }

    ul >li{
        list-style:none;
    }

    h1{
        font-weight: bold;
        text-align: center;
        font-size:60px;
        text-shadow: 5px 5px 5px black;
    }
    header{
        text-align: center;
        text-shadow: 3px 3px 3px black;
        margin-left:-35px;

    }

    #page_one{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

    }

    #page_two{
         position: absolute;
         left:0;
         top:-100%;
         width: 100%;
         height: 100%;
    }

    #page_three{
         position: absolute;
         left: 0;
         top: -200%;
         width: 100%;
         height: 100%;
    }

    #page_four{
         position: absolute;
         left: 0;
         top: -300%;
         width: 100%;
         height: 100%;
    }

    h2{

        font-size:36px;
        position: absolute;
        top:5%;
        left: 35%;
        font-family: serif, sans-serif;
        color: yellow;
    }
    h6#replay{
        color: yellow;
        font-size: 15px;
        position: absolute;
        top: 10%;
        left: 90%;

    }
    h6#activate{
        color: yellow;
        font-size: 15px;
        position: absolute;
        top: 20%;
        left: 90%;

    }
    h6#replay:hover{
        cursor:pointer;
        color: darkgrey;
    }
    h6#activate:hover{
        cursor:pointer;
        color: darkgrey;
    }

    h2#last{
        left: 20%;
    }

    h2#second{
        left: 25%;
    }
    .welcome-img{
        position: absolute;
        display: inline-block;
        float: left;
    }
    .first{
        position: absolute;
        width:100%;
        display: inline-block;
        left:0%;

    }
    .second{
        position: absolute;
        width:100%;
        display: inline-block;
        left:100%;
    }



    header{
        position:absolute;
        top:20%;
        left: 30%;
        color: white;
    }
    .links{
        margin: auto;
    }
    .links > li{
        display: inline-block;
        float: left;
        padding: 20px;
        margin-left: 50px;
        width:40px;
        height: 40px;
        border: 1px solid white;
        border-radius: 40px;
    }
    .links > li > a{


        text-decoration: none;
        color: white;
    }
    .links > li >a:hover{
        cursor:pointer;
        color: grey;
        text-shadow: 0 0 0;
    }
    .link-pic{
        display: block;
        width: 40px;
        height: 40px;
    }
    .link-pic img{
        width: 100%;
        height: 100%;
    }
    .links a:hover .link-pic{

    }
    .links li:hover .link-pic{
        width:50px;
        height: 50px;
    }
    .links li:hover{
        box-shadow: -3px -3px 5px black;
    }



    .project-pic{
        display: block;
        width: 500px;
        height: 300px;
        background:white;
        border: 2px solid grey;
        border-radius: 10px;
        box-shadow: 0 10px 10px black;
        text-align: center;
        color: grey;
        text-decoration:none;
    }
    .project-pic h5{
        margin:0;
        padding:0;
        border: 0;
        text-decoration:none;

    }
    .project-pic img{
        width: 100%;
        height: 90%;
    }

    ul.projects{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        height: 110%;
        background: grey;
        padding:0;

    }

    ul.projects > li{
        display: inline-block;
        float: left;

        margin-left: 50px;

    }
    a:hover{
        cursor:pointer;
    }

    .project-button{
        width:100px;
        color: white;
        font-size: 24px;
        padding:10px 10px;
        border: 1px solid white;
        margin-top: 90px;
        margin-left: 45%;
        border-radius: 30px;

    }

    .project-button:hover{
        cursor:pointer;

        font-size:28px;
    }

    figure.close{
        width:5px;
        height: 5px;
        position:absolute;
        top:5%;
        left:90%;
    }

    .clost img{
        width:100%;
        height: 100%;
    }


    </style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
        $(function(){
            var list = ["#page_one", "#page_two", "#page_three", "#page_four"];
            var levels =[0, -100, -200, -300];

            for (var i=0; i <3; i++){

                setTimeout(function(){
                    for (var j=0; j<4; j++){
                        levels[j] += 100;
                        $(list[j]).animate({top: levels[j] + "%"}, 4000);
                    }
                }, 3000);


            };




            setTimeout(function(){
                var pics = [".first", ".second"];
                var n = 0;
                setInterval(function(){
                    $(pics[n %2]).animate({left: "-100%"}, 50000);
                    $(pics[(n+1)%2]).animate({left: "0%"}, 50000);
                    $(pics[n %2]).animate({left: "100%"},0);
                    n = (n+1)%2;
                }, 0);

                $("#page_one").remove();
                $("#page_two").remove();
                $("#page_three").remove();
            }, 15000);


            $(".project-button").click(function(event){
                event.preventDefault();
                event.stopPropagation();
                $("ul.projects").animate({top:0}, 1000);
            });

            $("figure.close").click(function(event){
                event.preventDefault();
                event.stopPropagation();
                $("ul.projects").animate({top:"100%"}, 1000);
            });

            $("#replay").click(function(event){
                event.preventDefault();
                event.stopPropagation();
                levels =[0, -100, -200, -300];
                for (var m=0; m<4; m++){

                    $(list[m]).animate({top: levels[m] + "%"}, 100);
                };

                for (var i=0; i <3; i++){

                    setTimeout(function(){
                        for (var j=0; j<4; j++){
                            levels[j] += 100;
                            $(list[j]).animate({top: levels[j] + "%"}, 4000);
                        }
                    }, 3000);
                };

                $(".first").animate({left: "0%"}, 0);
                $(".second").animate({left: "100%"}, 0);

            });
        });
    </script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

  <body>

<div id="page_four" class="page">
    <figure class="welcome">
     <img class="welcome_img first" src="<%= asset_path 'welcome.jpg' %>">
     <img class="welcome_img second" src="<%= asset_path 'welcome.jpg' %>">
    </figure>
    <h2 id="last">I am a web developer, welcome to my world...</h2>
    <h6 id="activate"></h6>
    <h6 id="replay"></h6>


  <header class= "group">
   <ul class="group intro">
     <li class="no-display"><h1>Ling Sarah Rosenstein</h1></li>
     <li class="no-display"><h3>Web Developer . Javascript . Ruby On Rails</h3></li>
    <li class='no-display'>
        <ul class="group  links">
            <li><a href="<%= static_pages_url %>">
                <figure class="link-pic">
                    <img src="<%= asset_path 'ling.jpg' %>">
                </figure>
            </a></li>
            <li><a href="./resume.pdf" target="_blank">
                <figure class="link-pic">
                    <img src="<%= asset_path 'resume.png' %>">
                </figure>
            </a></li>
            <li><a href="mailto:greekyogurtgirl@gmail.com"  target="_blank">
                <figure class="link-pic">
                    <img src="<%= asset_path 'email.png' %>">
                </figure>
            </a></li>
            <li><a href="https://github.com/geekygirl76"  target="_blank">
                <figure class="link-pic">
                    <img src="<%= asset_path 'github.png' %>">
                </figure>
            </a></li>
            <li><a href="https://www.linkedin.com/pub/ling-rosenstein/9b/19/639"  target="_blank">
                <figure class="link-pic">
                    <img src="<%= asset_path 'linkedin.png' %>">
                </figure>
            </a></li>
        </ul>
   </li>
  </ul>

  <div class="project-button">
      Projects
  </div>


  </header>

 <ul class="group projects">
     <li>
         <a href="">
          <figure class="close">
            <img src="<%= asset_path 'close.png' %>">
          </figure>
          </a>
    </li>

     <li><a href="http://www.ilovediy.ninja/" target="_blank">
         <figure class="project-pic">
             <caption>I Love DIY ( Ruby on Rails, Backbone )</caption>
           <img src="<%= asset_path 'i_love_diy.png' %>">

         </figure>
         </a>
     </li>

     <li><a href="https://my-chat-app.herokuapp.com/" target="_blank">
         <figure class="project-pic">
             <caption>Chat App ( Node.js, jQuery )</caption>
           <img src="<%= asset_path 'chat_app.png' %>">

         </figure>
         </a>
     </li>

     <li><a href="http://geekygirl76.github.io/StarTrek/" target="_blank">
         <figure class="project-pic">
             <caption>Star Trek ( Javascript )</caption>
           <img src="<%= asset_path 'star_trek.png' %>">

         </figure>
         </a>
     </li>

     <li><a href="http://geekygirl76.github.io/snake/html/index.html" target="_blank">
         <figure class="project-pic">
             <caption>Snake ( jQuery, Javascript )</caption>
           <img src="<%= asset_path 'snake.png' %>">

         </figure>
         </a>
     </li>

 </ul>
</div>

<div id="page_three" class="page">
    <figure class="digital">
     <img class="digital_img" src="<%= asset_path 'born_to_code.jpg' %>">
    </figure>
    <h2>And I, was born to code</h2>
</div>

<div id="page_two" class="page">
    <figure class="digital">
     <img class="digital_img" src="<%= asset_path 'www.jpg' %>">
    </figure>
    <h2 id="second">World Wide Web connects us together</h2>
</div>

<div id="page_one" class="page">
    <figure class="digital">
     <img class="digital_img" src="<%= asset_path 'digital.jpg' %>">
    </figure>
    <h2>We live in a digital world</h2>
</div>
  </body>

</html>
